<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <system.web>
    <roleManager enabled="true"
                         defaultProvider="readerRoleProvider"
                         cacheRolesInCookie="true"
                         cookieName=".readerRolesCookie"
                         cookieTimeout="30"
                         cookieSlidingExpiration="true"
                         cookieProtection="All">
      <providers>
        <add name="readerRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="readerSQLServerProvider"
             applicationName="/"/>
      </providers>
    </roleManager>
  <membership defaultProvider="readerSQLProvider">
    <providers>
      <add connectionStringName="readerSQLServerProvider" applicationName="/"
        name="readerSQLProvider" type="System.Web.Security.SqlMembershipProvider" />
    </providers>
  </membership>
  </system.web>
  
  <connectionStrings>
    <add name="readerDB01Entities" connectionString="metadata=res://*/prwModel682.csdl|res://*/prwModel682.ssdl|res://*/prwModel682.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=readerDB01;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="readerSQLServerProvider" connectionString="data source=(local);initial catalog=readerDB02;integrated security=SSPI;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>